
<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <form >
      <ng-template matStepLabel>Fill out your name</ng-template>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step >
    <form >
      <ng-template matStepLabel>Fill out your address</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<webcam [height]="500" [width]="500"></webcam>
