<mat-horizontal-stepper linear="true" #stepper>
  <mat-step>
      <ng-template matStepLabel>Prise de la photo</ng-template>
      <app-prise-photo [stepper]="stepper" [image]="image"></app-prise-photo>
  </mat-step>
  <mat-step [stepControl]="stepPseudo">
    <ng-template matStepLabel>Entrez votre pseudo</ng-template>
    <app-selection-pseudo [image]="image" [stepper]="stepper"></app-selection-pseudo>
  </mat-step>
  <mat-step #genererPhotos>
    <ng-template matStepLabel>Generation des photos</ng-template>
    <app-generation-photos [step]="genererPhotos" [stepper]="stepper" [image]="image"></app-generation-photos>
  </mat-step>
  <mat-step #selectionPhotos>
    <ng-template matStepLabel>Selection de la photo</ng-template>
    <app-selection-photo [step]="selectionPhotos" [stepper]="stepper" [image]="image"></app-selection-photo>
  </mat-step>
  <mat-step #impressionPhotos>
    <ng-template matStepLabel>Impression de la photo</ng-template>
    <app-impression-photo [step]="impressionPhotos" [stepper]="stepper" [image]="image"></app-impression-photo>
  </mat-step>
</mat-horizontal-stepper>

